
.heroes-of-pandemic
    .heroes-images 
        width: 155px
        height: 155px
        background-position: center center
        background-size: cover
        background-repeat: no-repeat

    .hero-image-1
        background-image: url(../images/heroes-1.jpg)

    .hero-image-2
        background-image: url(../images/heroes-2.jpg)

    .hero-image-3
        background-image: url(../images/heroes-3.jpg)  

    h3 
        font-size: .9rem !important
        color: #888  


    span 
        width: fit-content
        font-size: .7rem !important
        font-weight: 800 !important
        color: #333 !important

.culture-image-1
    background-image: url(../images/travel.jpg)

.culture-image-2
    background-image: url(../images/books.jpg)

.culture-image-3
    background-image: url(../images/japan.png)
