@import "colors"
@import "right-column"
@import "center-column"

html 
    background: #f4f5f6

body 
    font-family: "Roboto"
    margin: auto
    max-width: 1310px

.subscribe-button-red
    border: 0
    background: 0
    padding: 0 10px
    border-radius: 0
    color: white
    font-family: "Roboto",sans-serif;
    font-weight: 600
    font-size: 17px
    text-align: center
    background: $red

.nav-red
    background: $red
    color: white

    .weather
        font-size: 0.9rem
        font-weight: 800
        color: white

        span:last-child
            font-weight: 400

    .sun-icon
        width: 20px
        height: 20px

    .logo-large
        width: 395px
        height: 60px
        filter: invert(1)

    .logo-small
        width: 131px
        height: 20px
        filter: invert(1)
        margin-bottom: 8px
    
    .logo-small-div
        width: fit-content
        

    .subscribe-btn 
        padding: 0 10px
        border-radius: 0
        color: $red
        font-family: "Roboto",sans-serif;
        font-weight: 600
        font-size: 17px
        text-align: center
    
    .login-btn
        @extend .subscribe-btn
        color: white

    .menu-btn
        @extend .login-btn
        color: rgba(255,255,255,0.6)

        i
            font-size: 30px   

main 


    .navbar-white
        border-bottom: 1px solid $light-grey

        .nav-list 
            list-style-type: none
            display: flex
            justify-items: stretch


            .nav-list-item
                flex: 1
                font-size: .8rem
                list-style-type: none
                margin: 0 auto
                padding-top: 0
                padding-bottom: 0
                display: flex
                justify-content: center
                justify-items: center
                border-right: 1px solid $light-grey

            

                a 
                    margin: 0 0
        
                    &:hover
                        color: $red !important

            
        
        input
            margin-left: 20px
            background: 0
            border: 0
            width: 70px
        
        img
            margin-top: 7px
            margin-right: 37px
            width: 20px
            height: 20px
            cursor: pointer

        &::after
            content: ''
            display: block
            width: 60px
            height: 12px
            background: $red
            position: absolute
            top: 0
            right: 0
            clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%, 0 0)

h5 
    font-size: .9rem
    font-weight: 800
    color: $h5-color

.main-content
    width: 100%



    h3 
        font-size: 1.2rem
        font-weight: 800

        &:hover
            text-decoration: underline
            text-decoration-color: $red
            cursor: pointer

.image-wrap
    position: relative
   
    span
        padding: 5px 10px
        color: $red
        font-size: 1rem
        font-weight: 600
        background: rgba(255,255,255,0.75)
        position: absolute
        bottom: 0
        left: 0


    img
        width: 100%

.single-content-left
    p 
        font-size: .8rem

    h3::before
        top: 200px

.single-content-top-story

    h3::before
        top: 270px
        content: 'U.S.'





.sponsored-insight
    span
        color: $blue
    
    .sponsored-insight-text-frame
        border: 1px solid rgba(0,0,0,0.1)
        border-top: 0



footer 
    padding-bottom: 50px
    height: auto
    border-top: 3px solid rgba(0,0 ,0 ,0.06 )

    .footer-up
        margin-top: 20px
        width: 100%
        border-bottom: 1px solid rgba(0,0,0,0.1)

        svg
            fill: $red
            width: 250px

        .copyright
            color: $footerLinksColor

.footer-down
    span 
        font-family: "Roboto" ,Arial, Helvetica, sans-serif
        color: $footerLinksColor
        font-size: .9rem
        border-right: 1px solid #99999991

    .bold
        font-weight: 600
        color: $footerLinksColor
    
    span:last-child
        border: 0